<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>Add Chat Room</h1>

<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, class: 'form-control',placeholder: "Title" %>
  </div>

  <%= f.submit "Add!", class: 'btn btn-primary' %>
<% end %>
</div>
</div>